html,
body {
  overflow-x: hidden; }

html {
  font-size: 100%;
  -webkit-font-smoothing: antialiased; }

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #222;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a {
  color: #0656b6;
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: underline; }
  a strong {
    color: inherit; }

img {
  display: block;
  max-width: 100%;
  margin: 0 0 1rem; }

table {
  margin-bottom: 1rem;
  width: 100%;
  font-size: 85%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse; }

td,
th {
  padding: 0.25rem 0.5rem;
  border: 1px solid #e5e5e5; }

th {
  text-align: left; }

tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #f9f9f9; }

body {
  background: #fff;
  color: #222;
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  font-weight: normal;
  line-height: 1.5; }
  @media (min-width: 48em) {
    body {
      line-height: 1.5625; } }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
  font-family: "Francois One", sans-serif;
  font-weight: normal;
  line-height: 1.2;
  margin: 0;
  word-wrap: break-word; }

h1,
.h1 {
  font-size: 2em; }
  @media (min-width: 48em) {
    h1,
    .h1 {
      font-size: 3.875em; } }

h2,
.h2 {
  font-size: 1.75em; }
  @media (min-width: 48em) {
    h2,
    .h2 {
      font-size: 2.25em; } }

h3,
.h3 {
  font-size: 1.5em; }
  @media (min-width: 48em) {
    h3,
    .h3 {
      font-size: 2em; } }

h4,
.h4 {
  font-size: 1.375em; }
  @media (min-width: 48em) {
    h4,
    .h4 {
      font-size: 1.625em; } }

h5,
.h5 {
  font-size: 1.125em; }
  @media (min-width: 48em) {
    h5,
    .h5 {
      font-size: 1.25em; } }

h6,
.h6 {
  font-size: 1em; }

p {
  font-size: 1em;
  margin: 0 0 0.625em; }
  @media (min-width: 48em) {
    p {
      font-size: 1.125em; } }

a {
  background-color: transparent;
  color: #0656b6;
  text-decoration: none;
  word-wrap: break-word;
  -webkit-text-decoration-skip: objects; }
  a:active, a:hover {
    outline: 0; }
  a:active, a:focus, a:hover {
    color: #05438f;
    text-decoration: underline; }

hr {
  border: 0;
  border-top: 1px solid #f7f9fb;
  border-bottom: 0 solid #fff;
  box-sizing: content-box;
  margin: 2em auto;
  overflow: visible; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

blockquote {
  font-size: 1.1875em;
  font-style: italic;
  margin: 0 0 0.625em;
  padding-left: 0.84211em;
  padding-right: 0.84211em;
  border-left: 2px solid #0766d9; }
  blockquote cite {
    color: #808080;
    font-size: 0.84211em;
    padding-top: 1em; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ''; }

.wrapper {
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto; }

.container {
  width: 100%;
  max-width: auto;
  margin: 0 auto;
  padding-right: 0.9375em;
  padding-left: 0.9375em; }

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 0.9375em;
  padding-left: 0.9375em; }

.row {
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -moz-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem; }

.row.reverse {
  -webkit-box-direction: reverse;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

.col.reverse {
  -webkit-box-direction: reverse;
  -webkit-box-orient: vertical;
  -moz-flex-direction: column-reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }

[class*="col-xs"] {
  box-sizing: border-box;
  -webkit-box-flex: 0;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  padding-right: 0.5rem;
  padding-left: 0.5rem; }

.col-xs-1 {
  -ms-flex-preferred-size: 8.3333333333%;
  flex-basis: 8.3333333333%;
  max-width: 8.3333333333%; }

.col-xs-2 {
  -ms-flex-preferred-size: 16.6666666667%;
  flex-basis: 16.6666666667%;
  max-width: 16.6666666667%; }

.col-xs-3 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
  max-width: 25%; }

.col-xs-4 {
  -ms-flex-preferred-size: 33.3333333333%;
  flex-basis: 33.3333333333%;
  max-width: 33.3333333333%; }

.col-xs-5 {
  -ms-flex-preferred-size: 41.6666666667%;
  flex-basis: 41.6666666667%;
  max-width: 41.6666666667%; }

.col-xs-6 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  max-width: 50%; }

.col-xs-7 {
  -ms-flex-preferred-size: 58.3333333333%;
  flex-basis: 58.3333333333%;
  max-width: 58.3333333333%; }

.col-xs-8 {
  -ms-flex-preferred-size: 66.6666666667%;
  flex-basis: 66.6666666667%;
  max-width: 66.6666666667%; }

.col-xs-9 {
  -ms-flex-preferred-size: 75%;
  flex-basis: 75%;
  max-width: 75%; }

.col-xs-10 {
  -ms-flex-preferred-size: 83.3333333333%;
  flex-basis: 83.3333333333%;
  max-width: 83.3333333333%; }

.col-xs-11 {
  -ms-flex-preferred-size: 91.6666666667%;
  flex-basis: 91.6666666667%;
  max-width: 91.6666666667%; }

.col-xs-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  max-width: 100%; }

.col-xs-offset-1 {
  margin-left: 8.3333333333%; }

.col-xs-offset-2 {
  margin-left: 16.6666666667%; }

.col-xs-offset-3 {
  margin-left: 25%; }

.col-xs-offset-4 {
  margin-left: 33.3333333333%; }

.col-xs-offset-5 {
  margin-left: 41.6666666667%; }

.col-xs-offset-6 {
  margin-left: 50%; }

.col-xs-offset-7 {
  margin-left: 58.3333333333%; }

.col-xs-offset-8 {
  margin-left: 66.6666666667%; }

.col-xs-offset-9 {
  margin-left: 75%; }

.col-xs-offset-10 {
  margin-left: 83.3333333333%; }

.col-xs-offset-11 {
  margin-left: 91.6666666667%; }

.col-xs-offset-12 {
  margin-left: 100%; }

.col-xs {
  -webkit-box-flex: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  max-width: 100%; }

.start-xs {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -moz-justify-content: flex-start;
  justify-content: flex-start;
  text-align: start; }

.center-xs {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -moz-justify-content: center;
  justify-content: center;
  text-align: center; }

.end-xs {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
  text-align: end; }

.top-xs {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -moz-align-items: flex-start;
  align-items: flex-start; }

.middle-xs {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -moz-align-items: center;
  align-items: center; }

.bottom-xs {
  -webkit-box-align: end;
  -ms-flex-align: end;
  -moz-align-items: flex-end;
  align-items: flex-end; }

.around-xs {
  -ms-flex-pack: distribute;
  -moz-justify-content: space-around;
  justify-content: space-around; }

.between-xs {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -moz-justify-content: space-between;
  justify-content: space-between; }

.first-xs {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1; }

.last-xs {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1; }

@media (min-width: 48em) {
  .container {
    max-width: 46rem; }
  [class*="col-sm"] {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .col-sm-1 {
    -ms-flex-preferred-size: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }
  .col-sm-2 {
    -ms-flex-preferred-size: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%; }
  .col-sm-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-sm-4 {
    -ms-flex-preferred-size: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%; }
  .col-sm-5 {
    -ms-flex-preferred-size: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%; }
  .col-sm-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-sm-7 {
    -ms-flex-preferred-size: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%; }
  .col-sm-8 {
    -ms-flex-preferred-size: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%; }
  .col-sm-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-sm-10 {
    -ms-flex-preferred-size: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%; }
  .col-sm-11 {
    -ms-flex-preferred-size: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%; }
  .col-sm-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-sm-offset-1 {
    margin-left: 8.3333333333%; }
  .col-sm-offset-2 {
    margin-left: 16.6666666667%; }
  .col-sm-offset-3 {
    margin-left: 25%; }
  .col-sm-offset-4 {
    margin-left: 33.3333333333%; }
  .col-sm-offset-5 {
    margin-left: 41.6666666667%; }
  .col-sm-offset-6 {
    margin-left: 50%; }
  .col-sm-offset-7 {
    margin-left: 58.3333333333%; }
  .col-sm-offset-8 {
    margin-left: 66.6666666667%; }
  .col-sm-offset-9 {
    margin-left: 75%; }
  .col-sm-offset-10 {
    margin-left: 83.3333333333%; }
  .col-sm-offset-11 {
    margin-left: 91.6666666667%; }
  .col-sm-offset-12 {
    margin-left: 100%; }
  .col-sm {
    -webkit-box-flex: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .start-sm {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    text-align: start; }
  .center-sm {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -moz-justify-content: center;
    justify-content: center;
    text-align: center; }
  .end-sm {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
    text-align: end; }
  .top-sm {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -moz-align-items: flex-start;
    align-items: flex-start; }
  .middle-sm {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -moz-align-items: center;
    align-items: center; }
  .bottom-sm {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -moz-align-items: flex-end;
    align-items: flex-end; }
  .around-sm {
    -ms-flex-pack: distribute;
    -moz-justify-content: space-around;
    justify-content: space-around; }
  .between-sm {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -moz-justify-content: space-between;
    justify-content: space-between; }
  .first-sm {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .last-sm {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; } }

@media (min-width: 62em) {
  .container {
    max-width: 61rem; }
  [class*="col-md"] {
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding-right: 0.5rem;
    padding-left: 0.5rem; }
  .col-md-1 {
    -ms-flex-preferred-size: 8.3333333333%;
    flex-basis: 8.3333333333%;
    max-width: 8.3333333333%; }
  .col-md-2 {
    -ms-flex-preferred-size: 16.6666666667%;
    flex-basis: 16.6666666667%;
    max-width: 16.6666666667%; }
  .col-md-3 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%; }
  .col-md-4 {
    -ms-flex-preferred-size: 33.3333333333%;
    flex-basis: 33.3333333333%;
    max-width: 33.3333333333%; }
  .col-md-5 {
    -ms-flex-preferred-size: 41.6666666667%;
    flex-basis: 41.6666666667%;
    max-width: 41.6666666667%; }
  .col-md-6 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    max-width: 50%; }
  .col-md-7 {
    -ms-flex-preferred-size: 58.3333333333%;
    flex-basis: 58.3333333333%;
    max-width: 58.3333333333%; }
  .col-md-8 {
    -ms-flex-preferred-size: 66.6666666667%;
    flex-basis: 66.6666666667%;
    max-width: 66.6666666667%; }
  .col-md-9 {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
    max-width: 75%; }
  .col-md-10 {
    -ms-flex-preferred-size: 83.3333333333%;
    flex-basis: 83.3333333333%;
    max-width: 83.3333333333%; }
  .col-md-11 {
    -ms-flex-preferred-size: 91.6666666667%;
    flex-basis: 91.6666666667%;
    max-width: 91.6666666667%; }
  .col-md-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    max-width: 100%; }
  .col-md-offset-1 {
    margin-left: 8.3333333333%; }
  .col-md-offset-2 {
    margin-left: 16.6666666667%; }
  .col-md-offset-3 {
    margin-left: 25%; }
  .col-md-offset-4 {
    margin-left: 33.3333333333%; }
  .col-md-offset-5 {
    margin-left: 41.6666666667%; }
  .col-md-offset-6 {
    margin-left: 50%; }
  .col-md-offset-7 {
    margin-left: 58.3333333333%; }
  .col-md-offset-8 {
    margin-left: 66.6666666667%; }
  .col-md-offset-9 {
    margin-left: 75%; }
  .col-md-offset-10 {
    margin-left: 83.3333333333%; }
  .col-md-offset-11 {
    margin-left: 91.6666666667%; }
  .col-md-offset-12 {
    margin-left: 100%; }
  .col-md {
    -webkit-box-flex: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    max-width: 100%; }
  .start-md {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -moz-justify-content: flex-start;
    justify-content: flex-start;
    text-align: start; }
  .center-md {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -moz-justify-content: center;
    justify-content: center;
    text-align: center; }
  .end-md {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -moz-justify-content: flex-end;
    justify-content: flex-end;
    text-align: end; }
  .top-md {
    -webkit-box-align: start;
    -ms-flex-align: start;
    -moz-align-items: flex-start;
    align-items: flex-start; }
  .middle-md {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -moz-align-items: center;
    align-items: center; }
  .bottom-md {
    -webkit-box-align: end;
    -ms-flex-align: end;
    -moz-align-items: flex-end;
    align-items: flex-end; }
  .around-md {
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .between-md {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .first-md {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1; }
  .last-md {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; } }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #0766d9;
  border-bottom: 2px solid rgba(17, 17, 17, 0.1);
  -webkit-transform: translateY(0);
          transform: translateY(0);
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out; }
  .header.scrolled {
    height: 75px;
    background-color: rgba(17, 17, 17, 0.2);
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }

.logo img {
  margin: 0.625em 0 0.75em;
  width: 100%;
  max-width: 150px; }

.nav-primary {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none; }
  @media (min-width: 48em) {
    .nav-primary {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; } }
  .nav-primary li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto; }
  .nav-primary a {
    padding: 0 0.9375em;
    color: #fff;
    font-size: 1.125em; }

@media (min-width: 48em) {
  .nav-mobile,
  .nav-toggle {
    display: none; } }

.nav-mobile {
  opacity: 0;
  visibility: hidden;
  background: rgba(40, 40, 40, 0.9);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  margin: 0;
  padding-top: 4.375em;
  font-size: 1.125em;
  text-transform: uppercase;
  z-index: 8000;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  transition: ease-out 0.4s, -webkit-transform 0.2s;
  transition: transform 0.2s, ease-out 0.4s;
  transition: transform 0.2s, ease-out 0.4s, -webkit-transform 0.2s;
  will-change: transform; }
  .nav-mobile.nav-open {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    transition: ease-out 0.4s, -webkit-transform 0.2s;
    transition: transform 0.2s, ease-out 0.4s;
    transition: transform 0.2s, ease-out 0.4s, -webkit-transform 0.2s; }

.nav-mobile-wrap {
  margin: 0.5em 0;
  padding: 0;
  list-style-type: none; }
  .nav-mobile-wrap li {
    background-color: #090909;
    border-bottom: 8px solid #282828; }
    .nav-mobile-wrap li:last-child {
      border-bottom: none; }
  .nav-mobile-wrap a {
    display: block;
    padding: 0.625em 0;
    color: #fff;
    font-size: 1.25em;
    font-weight: 700;
    text-align: center; }
    .nav-mobile-wrap a:hover {
      background: red; }

.nav-toggle {
  width: 35px;
  height: 20px;
  position: relative;
  margin: 0;
  margin-right: 15px;
  cursor: pointer;
  z-index: 99999; }
  .nav-toggle .line {
    display: block;
    position: absolute;
    right: 0;
    background: #fff;
    width: 35px;
    height: 3px;
    transition: all 0.25s; }
    .nav-toggle .line.line-1 {
      top: 0; }
    .nav-toggle .line.line-2 {
      top: 50%;
      width: 29.16667px; }
    .nav-toggle .line.line-3 {
      top: 100%; }
  .nav-toggle:hover .line-1, .nav-toggle:focus .line-1 {
    -webkit-transform: translateY(-1.5px);
            transform: translateY(-1.5px); }
  .nav-toggle:hover .line-3, .nav-toggle:focus .line-3 {
    -webkit-transform: translateY(1.5px);
            transform: translateY(1.5px); }
  .nav-toggle.active .line-1 {
    -webkit-transform: translateY(10px) translateX(0) rotate(45deg);
            transform: translateY(10px) translateX(0) rotate(45deg); }
  .nav-toggle.active .line-2 {
    opacity: 0; }
  .nav-toggle.active .line-3 {
    -webkit-transform: translateY(-10px) translateX(0) rotate(-45deg);
            transform: translateY(-10px) translateX(0) rotate(-45deg); }

.hero {
  background-color: #0766d9; }
  .hero .hero-text {
    color: #fff;
    margin-top: -1.25em;
    padding: 3.125em 0; }
    .hero .hero-text .sub-title {
      margin-bottom: 0.9375em; }

.home-intro {
  background-color: #0766d9;
  color: #fff; }

.page-header {
  padding: 3.125em 0;
  background-color: #0766d9; }
  @media (min-width: 48em) {
    .page-header {
      padding: 6.25em 0; } }

.page-title {
  color: #fff; }

.btn {
  display: inline-block;
  margin: 0;
  padding: 0.5625em 1.5625em;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  color: #fff;
  background-color: #0766d9;
  text-decoration: none;
  border-radius: 3px;
  cursor: pointer;
  vertical-align: middle;
  white-space: nowrap; }
  .btn.primary {
    background-color: #0766d9; }
    .btn.primary:hover {
      text-decoration: none;
      background-color: #0653b1;
      transition: all 0.3s ease; }
    .btn.primary:active {
      text-decoration: none;
      background-color: #032c5d; }
  .btn.secondary {
    background-color: #fff8e8; }
    .btn.secondary:hover {
      text-decoration: none;
      background-color: #ffecbf;
      transition: all 0.3s ease; }
    .btn.secondary:active {
      text-decoration: none;
      background-color: #ffd169; }
  .btn.white {
    background-color: #fff;
    color: #0766d9; }
    .btn.white:hover {
      text-decoration: none;
      background-color: #ebebeb;
      transition: all 0.3s ease; }
    .btn.white:active {
      text-decoration: none;
      background-color: #bfbfbf; }
  .btn.rounded {
    border-radius: 100px; }
  .btn.icon {
    background-position: 13px 13px;
    background-repeat: no-repeat;
    background-size: 25px;
    padding-left: 48px; }

.text-white {
  color: #fff; }

.text-primary {
  color: #0766d9; }

.text-secondary {
  color: #fff8e8; }

.bg-white {
  background: #fff; }

.bg-primary {
  background: #fff; }

.bg-secondary {
  background: #fff; }

.full-height {
  height: auto; }
  @media (min-width: 48em) {
    .full-height {
      height: 100vh; } }

.vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
